* {
  margin: 0;
  padding: 0;
}


.render-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.lateral {
  position: fixed;
  top: 250px;
  margin-left: 25px;
}

